  .contact{
  @include container;
  padding:5em 0;

  h1{
    text-align: center;
  }
}

form{
  display: flex;
  flex-direction: column;

  @supports (display: grid){
    @include mq{
      display: grid;
      grid-column:1fr 1fr;
      grid-column-gap:1em;
      grid-template-areas:
      "name       email"
      "message  message"
      "   .     button";

      .name{
        grid-area:name;
      }
      .email{
        grid-area:email;
      }
      .message{
        grid-area:message;
        textarea{
          height: 10em;
        }
      }
      .button{
        grid-area:button;
      }
    }
  }
}

label {
  display: block;
  margin-top: 1em;
  color:$dark-grey;
}

input,
textarea{
  box-sizing:border-box; 
  display: block;
  border:1px solid $light-grey;
  padding:.75em;
  background: lighten($light-grey,7%);
  width:100%;
  font-size:1.25rem;
}

.button{
  display: block;
  width:auto;
  background: $accent;
  margin-top: 1em;
  @include sans-serif($fs:2.5rem,$color:$white);
  padding:.5em 1.5em;
  margin-left:auto;
}