.portfolio{
  text-align: center;
  background: $light-grey;
  padding:5em 0;
}

.portfolio-items{
  display: flex;
  flex-wrap:wrap;
  @include container($max-width:75em);
}

.portfolio-item{
  position:relative;
  overflow: hidden;
  margin:0;
  flex : 1 1 20rem;
  
  img{
    height: auto;
    display: block;
  }
  
  figcaption{
    position: absolute;
    top:100%;
    left:0;
    right:0;
    bottom:0;
    padding:2em;
    background: rgba($accent,0.75);
    color:$white;
    text-align:left;
    display: flex;
    flex-direction:column;
    transition: top ease-in-out 250ms;
  }
  &:hover figcaption,
  &:focus figcaption{
    top:0;
  }
}

.portfolio-title{
  color: white;
  font-size:1.5em;
  margin-bottom: auto;

  .featured & {
    font-size: 5rem;
  }
  
}

.portfolio-desc{
  display: none;

  .featured & {
    display: block;
  }
  
}

.portfolio-link{
  color:black;
  font-weight: $fw-b;
  font-size:1.1rem;
  text-decoration: none;
  border-bottom: 3px solid black;
  align-self: flex-start;

  &::after{
    content: url(../img/arrow.svg);
    display: inline-block;
    height: .8em;
    width: .8em;
    margin-left: .5em;
  }
}

@supports(display:grid){
  .portfolio-items {
  .portfolio-item.featured{
    grid-column: 1/span 2;
    grid-row:1/span 2;
  }
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    @include mq{
      grid-template-columns: repeat(4,1fr);
    }
  }
  .featured {
    .portfolio-title{
      font-size: 5rem;
    }
    .portfolio-desc{
      display: block;
    }
  }
}

.portfolio-modal{
  position: fixed;
  z-index:10;
  top:2em;
  bottom:2em;
  left:2em;
  right: 2em;
  background: white;
  box-shadow: 0 0 0 3em rgba(black,.5);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top:5em;
  display: none;

  &.is-open{
    display: block;
  }
}

.svg-cross{
  background: white;
  position: fixed;
  left:1em;
  top:1em;
  border:0;
  width:3em;
  height: 3em;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(black , .5);
  cursor:pointer;
} 
.svg-cross svg{
  padding-left:25%;
  padding-top:25%;
}

.portfolio-header{
  text-align:left;
  padding:5em 0;
  margin-bottom:2em;
}

.header-one{
  background-image: url(../img/drumkit.jpg);
  background-size:cover;
  background-position: center;
}
.header-three{
  background-image: url(../img/clock6.jpg);
  background-size:cover;
  background-position: center;
}
.header-three{
  background-image: url(../img/temperaturehome.jpg);
  background-size:cover;
  background-position: center;
}
.header-four{
  background-image: url(../img/hackernews.png);
}
.header-five{
  background-image: url(../img/gif.jpg);
  background-size:cover;
  background-position: center;
}

.portfolio-title-box{
  background: rgba($accent,.5);
  padding:3em 0 3em 3em;
  color:white;
  width:70%;

  .portfolio-title{
    font-size:1.5em;

    &::after{
      content: '';
      display: inline-block;
      height: 1px;
      margin:.5em 0;
      background: white;
      width:100%;
    }
  }
}

.portfolio-subtitle{
  font-size:1rem;
}

.portfolio-content{
  text-align:left;
  width:85%;
  margin:0 auto;
  padding-bottom: 2em;  
}

.portfolio-full-width{
  width:100vw;
  max-width:initial;
  margin : 2em calc(50% - 50vw);
  height: 20vh;
  object-fit: cover;
}

@include mq{
.portfolio-pull-left{
  width:65%;
  float:left;
  margin-right: 2em;
  }
.portfolio-pull-right{
  width: 65%;
  float:right;
  margin-top:2em;
  margin-left: 2em;
}
}

@keyframes modalIn{
  0% {opacity:0;}
  100% {opacity : 1;}
}

